*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #fdf0f5;
  color: #5c2d42;
}

body {
  font-family: 'Fredoka', sans-serif;
  -webkit-font-smoothing: antialiased;
}

#__next {
  height: 100%;
}
